Repository maq77/GP14-26, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ai, frontend, infrastructure, documentation, dependencies, tests

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

fixed-bugs
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/8d0cabda-9c3a-4654-986d-c7234d4db6dd.vsidx
  apps/api/.vs/SSSP/FileContentIndex/91547a90-1460-459e-8435-a95d3ca07f4a.vsidx
  apps/api/.vs/SSSP/FileContentIndex/be3f130f-a6fe-4ccb-81c4-fe872cae71c7.vsidx
  apps/api/.vs/SSSP/config/applicationhost.config
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.Application/SSSP.Application.csproj
  infrastructure/docker/docker-compose.yml
Labels: api, infrastructure, dependencies

fixed-web-bugs
  apps/web/eslint.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/index.css
  apps/web/src/services/api.ts
Labels: frontend, dependencies

added-readme-dev
  apps/ai/README.md
  apps/api/README.md
Labels: api, ai, documentation

Update README.md
  README.md
Labels: documentation

Update README.md (#31)
  README.md
Labels: documentation

new-structure-v1.2
  apps/ai/README.md
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/detection_servicer.py
  apps/ai/src/api/grpc/servicers/face_servicer.py
  apps/ai/src/api/lifespan/__init__.py
  apps/ai/src/api/lifespan/base.py
  apps/ai/src/api/lifespan/health_registry.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/lifespan/modules/__init__.py
  apps/ai/src/api/lifespan/modules/detection.py
  apps/ai/src/api/lifespan/modules/grpc_server.py
  apps/ai/src/api/lifespan/registry.py
  apps/ai/src/api/main.py
  apps/ai/src/api/metrics/registry.py
  apps/ai/src/api/routes/detection.py
  apps/ai/src/api/routes/health.py
  apps/ai/src/api/routes/inference.py
  apps/ai/src/api/routes/metrics.py
  apps/ai/src/application/__init__.py
  apps/ai/src/application/detction_app.py
  apps/ai/src/core/config.py
  apps/ai/src/core/container.py
  apps/ai/src/schemas/base.py
  apps/ai/src/schemas/detection.py
  apps/ai/src/utils/yolo_safe_loader.py
  packages/__init__.py
  packages/contracts/__init__.py
Labels: ai, documentation

new-structure-v1.2 (#33)
  apps/ai/README.md
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/detection_servicer.py
  apps/ai/src/api/grpc/servicers/face_servicer.py
  apps/ai/src/api/lifespan/__init__.py
  apps/ai/src/api/lifespan/base.py
  apps/ai/src/api/lifespan/health_registry.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/lifespan/modules/__init__.py
  apps/ai/src/api/lifespan/modules/detection.py
  apps/ai/src/api/lifespan/modules/grpc_server.py
  apps/ai/src/api/lifespan/registry.py
  apps/ai/src/api/main.py
  apps/ai/src/api/metrics/registry.py
  apps/ai/src/api/routes/detection.py
  apps/ai/src/api/routes/health.py
  apps/ai/src/api/routes/inference.py
  apps/ai/src/api/routes/metrics.py
  apps/ai/src/application/__init__.py
  apps/ai/src/application/detction_app.py
  apps/ai/src/core/config.py
  apps/ai/src/core/container.py
  apps/ai/src/schemas/base.py
  apps/ai/src/schemas/detection.py
  apps/ai/src/utils/yolo_safe_loader.py
  packages/__init__.py
  packages/contracts/__init__.py
Labels: ai, documentation

run-main-fix-bugs
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/detection_servicer.py
  apps/ai/src/api/lifespan/__init__.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/lifespan/modules/detection.py
  apps/ai/src/api/main.py
  apps/api/src/Infrastructure/Protos/aqi.proto
  apps/api/src/Infrastructure/Protos/behavior.proto
  apps/api/src/Infrastructure/Protos/detection.proto
  apps/api/src/Infrastructure/Protos/face.proto
  packages/contracts/python/pyproject.toml
  packages/contracts/python/sssp/__init__.py
  packages/contracts/python/sssp/ai/__init__.py
  packages/contracts/python/sssp/ai/detection/__init__.py
  packages/contracts/python/sssp/ai/detection/detection_pb2.py
  packages/contracts/python/sssp/ai/detection/detection_pb2_grpc.py
Labels: api, ai

fix-readme
  apps/ai/README.md
Labels: ai, documentation

Revert "Merge branch 'main' into development"
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/detection_servicer.py
  apps/ai/src/api/lifespan/__init__.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/lifespan/modules/detection.py
  apps/ai/src/api/main.py
Labels: ai

AI main Run (#34)
  apps/ai/README.md
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/detection_servicer.py
  apps/ai/src/api/lifespan/__init__.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/lifespan/modules/detection.py
  apps/ai/src/api/main.py
  apps/api/src/Infrastructure/Protos/aqi.proto
  apps/api/src/Infrastructure/Protos/behavior.proto
  apps/api/src/Infrastructure/Protos/detection.proto
  apps/api/src/Infrastructure/Protos/face.proto
  packages/contracts/python/pyproject.toml
  packages/contracts/python/sssp/__init__.py
  packages/contracts/python/sssp/ai/__init__.py
  packages/contracts/python/sssp/ai/detection/__init__.py
  packages/contracts/python/sssp/ai/detection/detection_pb2.py
  packages/contracts/python/sssp/ai/detection/detection_pb2_grpc.py
Labels: api, ai, documentation

added test file
  test.py
Labels: none

added test file (#48)
  test.py
Labels: none

Revert "added test file"
  test.py
Labels: none

new test file
  test.py
Labels: none

Revert "new test file"
  test.py
Labels: none

new
  first.py
  last.py
Labels: none

Smart Gate System
  apps/ai/smart_gate/README.md
  apps/ai/smart_gate/camera/__init__.py
  apps/ai/smart_gate/camera/frame_utils.py
  apps/ai/smart_gate/camera/motion_detector.py
  apps/ai/smart_gate/camera/stream.py
  apps/ai/smart_gate/config.py
  apps/ai/smart_gate/database/db_manager.py
  apps/ai/smart_gate/database/schema.sql
  apps/ai/smart_gate/face_processing/__init__.py
  apps/ai/smart_gate/face_processing/facenet_encoder.py
  apps/ai/smart_gate/face_processing/mtcnn_detector.py
  apps/ai/smart_gate/face_recognition_system.py
  apps/ai/smart_gate/requirements.txt
  apps/ai/smart_gate/utills/__init__.py
  apps/ai/smart_gate/utills/preprocessing.py
  apps/ai/smart_gate/utills/similarity.py
Labels: ai, documentation, dependencies

Face-Recognition-v1.1
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/00fc3bb6-8627-4a39-a018-cb182cb26ef2.vsidx
  apps/api/.vs/SSSP/FileContentIndex/2458fb81-9cd4-454d-8a30-240e70d7c683.vsidx
  apps/api/.vs/SSSP/FileContentIndex/27c141bf-c0cf-4b80-a00c-a5882e58a322.vsidx
  apps/api/.vs/SSSP/FileContentIndex/3b0a4ff2-f618-4a6c-88f5-86931e3cf90a.vsidx
  apps/api/.vs/SSSP/FileContentIndex/49a2ef23-e31e-44be-ae66-5e540a8d625e.vsidx
  apps/api/.vs/SSSP/FileContentIndex/63273e66-0652-4d4e-a3af-cfdc39afa918.vsidx
  apps/api/.vs/SSSP/FileContentIndex/a25c1a95-956a-445f-880e-a93ca17b61ae.vsidx
  apps/api/.vs/SSSP/FileContentIndex/bbf4e563-ef76-4401-8bc2-18a6899f9b74.vsidx
  apps/api/.vs/SSSP/FileContentIndex/e3161276-b007-4d78-a7ae-06d48b68ee5d.vsidx
  apps/api/.vs/SSSP/FileContentIndex/f169bf06-6188-41c6-9b27-126e82c1a878.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/CameraController.cs
  apps/api/src/SSSP.Api/Controllers/HealthController.cs
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.Api/SSSP.Api.csproj
  apps/api/src/SSSP.BL/Managers/FaceMatchingManager.cs
  apps/api/src/SSSP.BL/SSSP.BL.csproj
  apps/api/src/SSSP.BL/Services/CameraMonitoringService.cs
  apps/api/src/SSSP.BL/Services/CameraMonitoringWorker.cs
  apps/api/src/SSSP.BL/Services/FaceEnrollmentService.cs
  apps/api/src/SSSP.BL/Services/FaceRecognitionService.cs
  apps/api/src/SSSP.BL/Services/Interfaces/ICameraMonitoringService.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/AIFaceClient.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/GrpcChannelFactory.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/VideoStreamClient.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Health/AiGrpcHealthCheck .cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/SSSP.Infrastructure.AI.Grpc.csproj
Labels: api, dependencies

Face-Reco-v1 (#62)
  first.py
  last.py
Labels: none

Face-Recognition-v1.1 (#63)
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/00fc3bb6-8627-4a39-a018-cb182cb26ef2.vsidx
  apps/api/.vs/SSSP/FileContentIndex/2458fb81-9cd4-454d-8a30-240e70d7c683.vsidx
  apps/api/.vs/SSSP/FileContentIndex/27c141bf-c0cf-4b80-a00c-a5882e58a322.vsidx
  apps/api/.vs/SSSP/FileContentIndex/3b0a4ff2-f618-4a6c-88f5-86931e3cf90a.vsidx
  apps/api/.vs/SSSP/FileContentIndex/49a2ef23-e31e-44be-ae66-5e540a8d625e.vsidx
  apps/api/.vs/SSSP/FileContentIndex/63273e66-0652-4d4e-a3af-cfdc39afa918.vsidx
  apps/api/.vs/SSSP/FileContentIndex/a25c1a95-956a-445f-880e-a93ca17b61ae.vsidx
  apps/api/.vs/SSSP/FileContentIndex/bbf4e563-ef76-4401-8bc2-18a6899f9b74.vsidx
  apps/api/.vs/SSSP/FileContentIndex/e3161276-b007-4d78-a7ae-06d48b68ee5d.vsidx
  apps/api/.vs/SSSP/FileContentIndex/f169bf06-6188-41c6-9b27-126e82c1a878.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/CameraController.cs
  apps/api/src/SSSP.Api/Controllers/HealthController.cs
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.Api/SSSP.Api.csproj
  apps/api/src/SSSP.BL/Managers/FaceMatchingManager.cs
  apps/api/src/SSSP.BL/SSSP.BL.csproj
  apps/api/src/SSSP.BL/Services/CameraMonitoringService.cs
  apps/api/src/SSSP.BL/Services/CameraMonitoringWorker.cs
  apps/api/src/SSSP.BL/Services/FaceEnrollmentService.cs
  apps/api/src/SSSP.BL/Services/FaceRecognitionService.cs
  apps/api/src/SSSP.BL/Services/Interfaces/ICameraMonitoringService.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/AIFaceClient.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/GrpcChannelFactory.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/VideoStreamClient.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Health/AiGrpcHealthCheck .cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/SSSP.Infrastructure.AI.Grpc.csproj
Labels: api, dependencies

fixed-server-grpc-ai
  apps/ai/src/api/grpc/server.py
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/10206105-81bf-4845-8e07-963fdcb0331f.vsidx
  apps/api/.vs/SSSP/FileContentIndex/20041e8d-def2-47c2-a8d0-f9d1e6fbccd9.vsidx
  apps/api/.vs/SSSP/FileContentIndex/26abe6e4-86a4-4986-ab25-d0edec6164fd.vsidx
  apps/api/.vs/SSSP/FileContentIndex/3a5338d6-a0cf-455a-b288-3eff9b51cb0f.vsidx
  apps/api/.vs/SSSP/FileContentIndex/67c24f33-cb15-4a18-8949-b699cf6dd9aa.vsidx
  apps/api/.vs/SSSP/FileContentIndex/68e8eead-5203-456f-b6ca-fea954eb1e8e.vsidx
  apps/api/.vs/SSSP/FileContentIndex/cb38c1da-8278-4784-b4d2-8e92e83bcbe5.vsidx
  apps/api/.vs/SSSP/FileContentIndex/e04889d3-68cf-492f-938d-214ee887a35c.vsidx
  apps/api/.vs/SSSP/FileContentIndex/eb6464db-99b5-4694-b5dd-4d0c0317a494.vsidx
  apps/api/.vs/SSSP/FileContentIndex/f9301f18-4661-4521-8bad-c3607721eb0e.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.DAL/Migrations/20251130004358_updated-camera-embedding-tbls.Designer.cs
  apps/api/src/SSSP.DAL/Migrations/20251130004358_updated-camera-embedding-tbls.cs
Labels: api, ai

fixed, serve.py
  apps/ai/src/api/grpc/server.py
Labels: ai

added-face-embedding-.net
  apps/api/src/SSSP.DAL/Models/FaceEmbedding.cs
Labels: api

latest v1.2
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/main.py
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/26abe6e4-86a4-4986-ab25-d0edec6164fd.vsidx
  apps/api/.vs/SSSP/FileContentIndex/67c24f33-cb15-4a18-8949-b699cf6dd9aa.vsidx
  apps/api/.vs/SSSP/FileContentIndex/a4253e54-c10d-492c-b7e5-d2c401ac7e24.vsidx
  apps/api/.vs/SSSP/FileContentIndex/cb38c1da-8278-4784-b4d2-8e92e83bcbe5.vsidx
  apps/api/.vs/SSSP/FileContentIndex/eb6464db-99b5-4694-b5dd-4d0c0317a494.vsidx
  apps/api/.vs/SSSP/FileContentIndex/f9301f18-4661-4521-8bad-c3607721eb0e.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/CameraController.cs
  apps/api/src/SSSP.Api/Controllers/FaceController.cs
  apps/api/src/SSSP.BL/Services/CameraMonitoringWorker.cs
  apps/api/src/SSSP.BL/Services/FaceProfileCache.cs
  apps/api/src/SSSP.BL/Services/FaceRecognitionService.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/AIFaceClient.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/GrpcChannelFactory.cs
  apps/api/src/SSSP.Infrastructure.AI.Grpc/Clients/VideoStreamClient.cs
  first.py
  last.py
  test.py
Labels: api, ai

updated-program.cs
  Start-ai.ps1
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/0a69c410-fb2d-4ffa-9979-9ddb9d3decb3.vsidx
  apps/api/.vs/SSSP/FileContentIndex/4a3d2df6-a4f0-4dba-bc63-efea584555c4.vsidx
  apps/api/.vs/SSSP/FileContentIndex/9e2089e5-bbae-4cda-981e-143411086b58.vsidx
  apps/api/.vs/SSSP/FileContentIndex/a4253e54-c10d-492c-b7e5-d2c401ac7e24.vsidx
  apps/api/.vs/SSSP/FileContentIndex/b4b92383-c29a-41e7-9f91-c3dd6cc019ce.vsidx
  apps/api/.vs/SSSP/FileContentIndex/bfeeb7ac-7013-455a-a42d-83459f4e89df.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/FaceController.cs
  apps/api/src/SSSP.Api/Extentions/GlobalExceptionHandlerExtensions.cs
  apps/api/src/SSSP.Api/Extentions/PerformanceMonitoringMiddlewareExtensions.cs
  apps/api/src/SSSP.Api/Middleware/GlobalExceptionHandler.cs
  apps/api/src/SSSP.Api/Middleware/PerformanceMonitoringMiddleware.cs
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.Api/SSSP.Api.csproj
  apps/api/src/SSSP.Api/appsettings.Development.json
  apps/api/src/SSSP.Api/appsettings.Production.json
  apps/api/src/SSSP.Api/appsettings.json
  apps/api/src/SSSP.BL/HealthChecks/HealthChecks.cs
  apps/api/src/SSSP.BL/Managers/FaceMatchingManager.cs
  apps/api/src/SSSP.BL/Managers/Interfaces/IFaceMatchingManager.cs
  apps/api/src/SSSP.BL/Services/DistributedFaceProfileCache.cs
  apps/api/src/SSSP.BL/Startup/StartupValidationService.cs
  start-ai.bat
Labels: api, dependencies

added-redis-v1-imp
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/0a69c410-fb2d-4ffa-9979-9ddb9d3decb3.vsidx
  apps/api/.vs/SSSP/FileContentIndex/1ff33220-1204-4fc9-a489-1b38f50b3073.vsidx
  apps/api/.vs/SSSP/FileContentIndex/41cdcd29-c2f9-45d4-9a68-e80966ebfa8f.vsidx
  apps/api/.vs/SSSP/FileContentIndex/4a3d2df6-a4f0-4dba-bc63-efea584555c4.vsidx
  apps/api/.vs/SSSP/FileContentIndex/6b8931cc-6d7d-4366-9568-f7e35fc30b0c.vsidx
  apps/api/.vs/SSSP/FileContentIndex/9d784efc-2dc1-4b53-aeba-8f4f2d8e4150.vsidx
  apps/api/.vs/SSSP/FileContentIndex/9e2089e5-bbae-4cda-981e-143411086b58.vsidx
  apps/api/.vs/SSSP/FileContentIndex/b278da6b-f6e7-4209-bf62-67269bbec7a2.vsidx
  apps/api/.vs/SSSP/FileContentIndex/b4b92383-c29a-41e7-9f91-c3dd6cc019ce.vsidx
  apps/api/.vs/SSSP/FileContentIndex/bfeeb7ac-7013-455a-a42d-83459f4e89df.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/CameraController.cs
  apps/api/src/SSSP.Api/Controllers/FaceController.cs
  apps/api/src/SSSP.Api/Middleware/CorrelationIdMiddleware.cs
  apps/api/src/SSSP.Api/Middleware/GlobalExceptionHandler.cs
  apps/api/src/SSSP.Api/Middleware/PerformanceMonitoringMiddleware.cs
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.Api/SSSP.Api.csproj
  apps/api/src/SSSP.Api/appsettings.Development.json
  apps/api/src/SSSP.Api/appsettings.Production.json
  apps/api/src/SSSP.Api/appsettings.json
  apps/api/src/SSSP.BL/Options/StartupValidationOptions.cs
  apps/api/src/SSSP.BL/SSSP.BL.csproj
  apps/api/src/SSSP.BL/Services/CameraMonitoringWorker.cs
  apps/api/src/SSSP.BL/Services/FaceRecognitionService.cs
  apps/api/src/SSSP.BL/Startup/StartupValidationService.cs
  start-local-dev.ps1
Labels: api, dependencies

added incident controller, service, manager
  Azure Appinsights.txt
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/FileContentIndex/0efeb0eb-2930-4daa-8a62-5e1695d93404.vsidx
  apps/api/.vs/SSSP/FileContentIndex/1ff33220-1204-4fc9-a489-1b38f50b3073.vsidx
  apps/api/.vs/SSSP/FileContentIndex/41cdcd29-c2f9-45d4-9a68-e80966ebfa8f.vsidx
  apps/api/.vs/SSSP/FileContentIndex/55841136-7b84-4424-bad0-56c9145db99d.vsidx
  apps/api/.vs/SSSP/FileContentIndex/9361e133-6acf-4f11-8d25-d2aefe051604.vsidx
  apps/api/.vs/SSSP/FileContentIndex/9d784efc-2dc1-4b53-aeba-8f4f2d8e4150.vsidx
  apps/api/.vs/SSSP/FileContentIndex/b278da6b-f6e7-4209-bf62-67269bbec7a2.vsidx
  apps/api/.vs/SSSP/FileContentIndex/d717fe63-23ed-42fd-9452-3fd034d24502.vsidx
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/src/SSSP.Api/Controllers/IncidentController.cs
  apps/api/src/SSSP.Api/DTOs/Incident/CreateIncidentRequest.cs
  apps/api/src/SSSP.Api/DTOs/Incident/IncidentResponse.cs
  apps/api/src/SSSP.Api/Program.cs
  apps/api/src/SSSP.BL/Managers/IncidentManager.cs
  apps/api/src/SSSP.BL/Managers/Interfaces/IIncidentManager.cs
  apps/api/src/SSSP.BL/Services/CameraMonitoringWorker.cs
  apps/api/src/SSSP.BL/Services/IncidentService.cs
  apps/api/src/SSSP.BL/Services/Interfaces/IIncidentService.cs
  apps/api/src/SSSP.DAL/ValueObjects/Location.cs
Labels: api

.github/labeler.yml:

# Auto-label PRs based on files changed

'api':
  - apps/api/**/*

'ai':
  - apps/ai/**/*

'frontend':
  - apps/web/**/*

'infrastructure':
  - infrastructure/**/*
  - docker-compose.yml
  - Dockerfile

'documentation':
  - docs/**/*
  - '**/*.md'

'dependencies':
  - '**/package.json'
  - '**/package-lock.json'
  - '**/requirements.txt'
  - '**/*.csproj'

'tests':
  - '**/tests/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'
